/*
General styling
*/
body {width:885px;}
fieldset {float:left;max-width:30%}
label {font-weight:bold;display:block;}
select {
    min-width: 100px;
    max-width: 220px;
    margin: 0 auto; /* For centering; also requires text-align:center and display:block (if not already) on parent */
    margin-top:10px;
}
.focus {text-align:center;display:block;}

/**
* Allow enough space to view whole URL inside select menus since default tooltips not working here
*/
option[title]:hover:before {
  content: attr(title);
  padding:5px 6px;
  margin-top: 20px;
  margin-left: 30px;
  max-width:1200px !important;
  border:1px solid #cccccc;
  background:lightyellow;
  color:#555555;
  display:inline;
  position:absolute;
}

/**
* Risky options
*/
.dangerous {color:red;}
.risky {color:pink;}

